<!-- Toolbar -->
<div class="accesibility-toolbar text-center container-fluid" style="background-color: #30a133;">
    <nav class="nav justify-content-end col-12">            
        <li class="nav-item">
            <a class="nav-link" href="https://laequidadseguros.coop/contacto" target="_blank" rel="noopener noreferrer">Servicio al cliente</a>                
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/preguntas-frecuentes">Educación Financiera</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://equinet.laequidadseguros.coop/app.php/staff" target="_blank" rel="noopener noreferrer">Equinet</a>                
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://provalidarpoliza.azurewebsites.net/860028415/verify">Validación cumplimiento</a>            
        </li>
        <li>
            <div class="input-group flex-nowrap" style="margin: 4px;margin-left: 16px;">
                <input type="text" class="form-control" placeholder="Buscar..." style="height: 30px;">                             
            </div>  
        </li>
    </nav>	
</div>

<div class="toolbar" role="banner">
    <a style="margin: 20px;" href="./">
        <img width="180" alt="Logo Equidad Seguros" src="assets/images/logo_horizontal.png"/>
    </a>
</div>
  