<ng-template #asignarVend let-c="close" let-d="dismiss">
  <div class="modal-body">
    <form id="kushki-pay-form" action="/transaccion?check=kushki" method="post">
      <input type="hidden" name="rID" [value]="rIdReference" />
    </form>
  </div>
</ng-template>

<div
  class="container d-flex justify-content-center text-center h-100 my-5"
  style="max-height: 90vh"
>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Reporte detallado de pólizas del cliente {{ clienteName }}
      </h4>
    </div>
    <div class="card-body">
      <h4 id="polizasListTitle">
        Listado de pólizas de pago de contado disponibles para pago
      </h4>
      <div style="height: 250px; overflow-y: scroll">
        <table class="table table-striped" aria-describedby="polizasListTitle">
          <thead>
            <tr>
              <th scope="col">
                <span class="input-group-text selectable" (click)="selectall()">
                  <i class="ni ni-check-bold"></i>
                </span>
              </th>
              <th scope="col">Agencia</th>
              <th scope="col">Producto</th>
              <th scope="col">Póliza</th>
              <th scope="col">Certificado</th>
              <th scope="col">Valor</th>
              <th scope="col">Fecha limite</th>
              <th scope="col">Pago en bancos</th>
              <th scope="col">Financia</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detalle of polizas; let i = index">
              <th scope="row">
                <input
                  type="checkbox"
                  class="inputCheck"
                  [(ngModel)]="detalle.selected"
                  (click)="totalChanged()"
                  [disabled]="!detalle.permitePago || !canSelect(detalle)"
                />
              </th>
              <th>{{ detalle.compania }}</th>
              <td>{{ detalle.nombreProducto }}</td>
              <td>{{ detalle.codigoPoliza }}</td>
              <td>{{ detalle.certificadoPoliza }}</td>
              <td>{{ detalle.totalPagar | currency }}</td>
              <td>{{ detalle.fechaLimitePago }}</td>

              <td>
                <button
                  type="button"
                  style="margin: 0; padding: 0"
                  [style.color]="detalle.cur == '' ? '' : 'green'"
                  class="btn btn-round btn-default btn-simple btn-icon no-caret"
                  (click)="descargar(detalle, i)"
                  [disabled]="detalle.cur == ''"
                >
                  <i
                    style="font-size: 35px"
                    class="ni ni-cloud-download-95"
                  ></i>
                </button>
              </td>

              <td>
                <button
                  style="margin: 0; padding: 0; border-color: transparent"
                  class="btn btn-round btn-default btn-simple btn-icon no-caret"
                  [disabled]="!detalle.permiteFinancia"
                  (click)="financiaCon(detalle)"
                >
                  <img src="assets/images/financiar.png" width="35" />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <table class="table table-striped">
          <div
            class="col-12"
            style="
              height: 64px;
              display: table-row;
              border-top: 1px solid #dee2e6;
            "
          ></div>
          <tfoot
            style="font-weight: bolder; text-align: right"
            *ngIf="polizas.length > 0"
          >
            <tr class="noBordertd">
              <td colspan="5">Total cartera</td>
              <td>{{ sumarDeuda() | currency }}</td>
              <td colspan="1">Paga con:</td>
              <!-- Total -->
            </tr>
            <tr class="noBordertd">
              <td colspan="5">
                Cartera seleccionada<br />
                Total a pagar
              </td>
              <td>
                {{ sumarDeudaSeleccionada() | currency }}<br />
                {{ sumarDeudaSeleccionada() | currency }}
              </td>

              <td colspan="2" class="row">
                <button
                  style="border-color: transparent"
                  class="btn btn-outline-success col-4 offset-2"
                  (click)="pagarCon('kushki', asignarVend)"
                  [disabled]="sumarDeudaSeleccionada() == 0"
                >
                  <img src="assets/images/boton-pse-texto.png" width="60" />
                </button>
                <button
                  style="border-color: transparent"
                  class="btn btn-outline-success col-5"
                  (click)="pagarCon('wompi')"
                  [disabled]="sumarDeudaSeleccionada() == 0"
                >
                  <img src="assets/images/banco-logo.jpg" width="200" />
                </button>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>

      <div
        class="alert alert-info"
        style="margin: 15px"
        *ngIf="polizas.length == 0"
      >
        <span>No hay polizas pendientes de pago</span>
      </div>
    </div>
  </div>
</div>
