.inputCheck {
  height: 20px;
  width: 20px;
  margin: auto;
  display: block;
}

.selectable {
  box-sizing: content-box;
  color: #5e72e4;
  vertical-align: middle;
  font-size: 1.5rem;
}

.selectable :hover {
  border: 2px solid;
}

.noBordertd td {
  border: none;
}

::ng-deep ngb-modal-backdrop {
  z-index: 1050 !important;
}
