.container {
    margin-top: 200px;
}

.microphone {
   border-top-right-radius: 32px !important;
   border-bottom-right-radius: 32px !important;
   background-color: #fff;
}

.equidad {
   border-top-left-radius: 32px !important;
   border-bottom-left-radius: 32px !important;
   background-color: #fff;
}

.input-group-prepend {
   margin-right: -2px !important;
}

.input-group-append {
   margin-left: -2px !important;
}

.form-control:focus {
   color: #495057; 
   background-color: #fff;
   border-color: #ced4da;
   outline: 0;
   box-shadow: 0 0 0 0 !important;
}

.form-control {
    border-right: 0 !important;
    border-left: 0 !important;
}

.image {            
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}